<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>com.nhnacademy.hello.HelloServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>Mr.</param-value>
        </init-param>
        <init-param>
            <param-name>name</param-name>
            <param-value>marco</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>

    </servlet>

    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>nowServlet</servlet-name>
        <servlet-class>com.nhnacademy.hello.NowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>nowServlet</servlet-name>
        <url-pattern>/now</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>beautifyServlet</servlet-name>
        <servlet-class>com.nhnacademy.hello.BeautifyServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>beautifyServlet</servlet-name>
        <url-pattern>/beautify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>multiServlet</servlet-name>
        <servlet-class>com.nhnacademy.hello.MultiServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>multiServlet</servlet-name>
        <url-pattern>/multi</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>counterServlet</servlet-name>
        <servlet-class>com.nhnacademy.hello.CounterServlet</servlet-class>
        <init-param>
            <param-name>counter</param-name>
            <param-value>100</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>counterServlet</servlet-name>
        <url-pattern>/counter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>requestServlet</servlet-name>
        <servlet-class>com.nhnacademy.hello.RequestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>requestServlet</servlet-name>
        <url-pattern>/req</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>url</param-name>
        <param-value>https://nhnacademy.com</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.nhnacademy.hello.session.LoginServlet</servlet-class>
        <init-param>
            <param-name>id</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>pwd</param-name>
            <param-value>1234</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    



</web-app>
